<header>
  <nav class="navbar navbar-design">
    <div class="options-design">
      <a href="http://localhost:8080">Index</a>
    </div>
    <ul class="horizontal">
      <li class="options-design">
        <a href="http://localhost:8080/products">Products</a>
      </li>
      {{#if isUser}}
      <li class="options-design">
        <a href="http://localhost:8080/register">Register</a>
      </li>
      <li class="options-design">
        <a href="http://localhost:8080/login">Login</a>
      </li>
      {{/if}}
      <li class="options-design">
        <a href="">Cart</a>
      </li>
      <li class="options-design">
        <a href="">Premium</a>
      </li>
      <li class="options-design">
        <a href="">New</a>
      </li>
      <li class="options-design">
        <a href="">Update</a>
      </li>
    </ul>
  </nav>
</header>
{{status}}
<h2>Lista de productos disponibles:</h2>
{{#each status}}
<div>
  <b>Producto</b>
  <ul>
    <li>Nombre: {{title}}</li>
    <li>Descripcion: {{this.description}}</li>
    <li>Precio: ${{this.price}}</li>
  </ul>
  {{#if ../userStatus}}
    <button>Agregar al carrito</button>
    {{else}}
    <p>//////////////////////////</p>
  {{/if}}
</div>
{{/each}}
<form action="/signout" method="POST">
<input type="submit" value="Cerrar sesion">
</form>