<header>
  <nav class="navbar navbar-design">
    <div class="options-design">
      <a href="http://localhost:8080">Index</a>
    </div>
    <ul class="horizontal">
      <li class="options-design">
        <a href="http://localhost:8080/products">Products</a>
      </li>
      {{#unless isNotSession}}
      <li class="options-design">
        <a href="http://localhost:8080/register">Register</a>
      </li>
      <li class="options-design">
        <a href="http://localhost:8080/login">Login</a>
      </li>
      {{else}}
      {{#if isUser}}
      <li class="options-design">
        <a href="">Cart</a>
      </li>
      <li class="options-design">
        <a href="http://localhost:8080/premium">Premium</a>
      </li>
      {{else}}
      {{#if isPremium}}
      <li class="options-design">
        <a href="">Cart</a>
      </li>
      <li class="options-design">
        <a href="">New</a>
      </li>
      <li class="options-design">
        <a href="">Update</a>
      </li>
      {{else}}
      {{#if isAdmin}}
      <li class="options-design">
        <a href="">New</a>
      </li>
      <li class="options-design">
        <a href="">Update</a>
      </li>
      {{/if}}
      {{/if}}
      {{/if}}
      {{/unless}}
    </ul>
  </nav>
</header>
<div>
  {{#if infoUser}}
  <p>Informacion de usuario:</p>
  <p>Nombre de usuario: {{username}}</p>
  <p>Rol: {{role}}</p>
  {{else}}
  <p>No hay usuario loggeado</p>
  {{/if}}
</div>
<h2>Lista de productos disponibles:</h2>
{{#each productsList}}
<div>
  <b>Producto</b>
  <ul>
    <li>Nombre: {{this.title}}</li>
    <li>Descripcion: {{this.description}}</li>
    <li>Precio: ${{this.price}}</li>
  </ul>
  {{#if ../notAdmin}}
    <button>Agregar al carrito</button>
    {{else}}
    <p>//////////////////////////</p>
  {{/if}}
</div>
{{/each}}
{{#if isNotSession}}
<form action="/signout" method="POST">
<input type="submit" value="Cerrar sesion">
</form>
{{/if}}