<h1>Bienvenido {{firstName}} {{lastName}}</h1>
<h2>Lista de productos disponibles:</h2>
{{#each productsList}}
<div>
  <b>Producto</b>
  <ul>
    <li>Nombre: {{this.title}}</li>
    <li>Descripcion: {{this.description}}</li>
    <li>Precio: ${{this.price}}</li>
  </ul>
  <button>Agregar al carrito</button>
</div>
{{/each}}
<form action="/logout" method="GET">
<input type="submit" value="Cerrar sesion">
</form>